.section-4 {
    color: white;
    background: url("../img/section4-bg.jpg") no-repeat center center scroll;
    background-color: black;
    background-size: cover;
}
.section-6 {
    color: white;
    background: url("../img/section6-bg.jpg") no-repeat center center scroll;
    background-color: black;
    background-size: cover;
}
.section-8 {
    color: white;
    background: url("../img/section8-bg.jpg") no-repeat center center scroll;
    background-color: black;
    background-size: cover;
}
.section-10 {
    color: white;
    background: url("../img/section10-bg.jpg") no-repeat center center scroll;
    background-color: black;
    background-size: cover;
}
nav.navbar {
    display: none;
}